body{
  margin:0;
}
a{
  color:black;
  text-decoration: none;
}
h1 {
  font-size:35px;
  text-align: center;
  border-bottom:1px solid gray;
 margin:0;
  padding:20px;
}
 ol{
  font-size:15px;
  border-right:1px solid gray;

  margin:0;
  padding:20px;
}
#grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
#grid ol{
  padding-left:33px;
}
#grid #article{
  padding:15px;
}
@media(max-width:200px){
  #grid{
    display:block;/*200px보다 작을때는 디스플레이를 블록으로 */
  }
  ol{
    border-right:none;
  }
  h1{
    border-bottom:none;
  }
}
